body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  transition: background-color 0.4s, color 0.4s;
  background-color: ;
}

button {
  border: none;
  border-radius: 12px;
  background: linear-gradient(135deg, #000000, #000dff);
  color: white;
  padding: 12px 24px;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

p {
  font-size: 1.25rem;
}

.content-container {
  border-radius: 20px;
  padding: 60px;
  max-width: 700px;
  margin: 40px auto;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}
